<%= image_tag(current_user.photo, class: "user_pfp", style:"object-fit :contain;") %>
<%= link_to "Modifier mon profile", edit_user_registration_path, class: "btn btn-warning" %>
<div class="container">

    <p><b>Présent sur Chicken Market Place depuis <%= current_user.created_at %></b></p>
    <p><b>Inscrit en tant que : </b><%= current_user.role %></p>
    <p><b>Contacts : </b><%= current_user.email %>  <%= current_user.phone %></p>
    <p><b>Nom complet : </b><%= current_user.last_name %>  <%= current_user.first_name %></p>
    <p><b>Age : </b><%= current_user.age %> ans</p>
    <p><b>Genre : </b><%= current_user.sex %></p>
    <p><b>Pays : </b><%= current_user.country %></p>
    <p><b>Ville actuelle : </b><%= current_user.city %></p>
    <p><b>Addresse locale : </b><%= current_user.address %></p>

</div>
