<div class="container">

    <% if current_user && current_user.role == "Eleveur" %>
        <div>
            <%= image_tag(current_user.photo, class: "user_pfp", style:"object-fit :contain;") %>
            <%= link_to "Debuter une conversation", chat_rooms_path, class: "btn btn-success" %><br/>
            <%= link_to "Mon profile", farmer_path, class: "btn btn-secondary" %>
        </div><br/><br/>
        <div>
            <%= link_to "Shopping page", farmers_path, class: "btn btn-primary" %><br/><br/>
            <%= link_to "Mon panier d'achat", cart_path, class: "btn btn-success" %><br/><br/>
            <%= link_to "Produits disponibles", products_path, class: "btn btn-primary" %><br/><br/>
            <h5><%= link_to "Les catégories de produits que vous pouvez trouver chez Chicken Market Place", categories_path, class: "nav-link" %></h5>
            <h5><%= link_to "Les races de poulets que vous pouvez trouver chez Chicken Market Plae", races_path, class: "nav-link" %></h5>
        </div>
    <% elsif current_user && current_user.role == "Client" %>
        <div>
            <%= image_tag(current_user.photo, class: "user_pfp", style:"object-fit :contain;") %>
            <%= link_to "Debuter une conversation", chat_rooms_path, class: "btn btn-success" %><br/>
            <%= link_to "Mon profile", client_path, class: "btn btn-secondary" %>
        </div><br/><br/>
        <div>
            <%= link_to "Mon panier d'achat", cart_path, class: "btn btn-success" %><br/><br/>
            <%= link_to "Produits disponibles", products_path, class: "btn btn-primary" %><br><br/>
            <h5><%= link_to "Les catégories de produits que vous pouvez trouver chez Chicken Market Place", categories_path, class: "nav-link" %></h5>
            <h5><%= link_to "Les races de poulets que vous pouvez trouver chez Chicken Market Plae", races_path, class: "nav-link" %></h5>
        </div>
    <% else %>
        <div>
            <%= link_to "Panier d'achat", cart_path, class: "btn btn-success" %><br/><br/>
            <%= link_to "Produits disponibles", products_path, class: "btn btn-primary" %><br/><br/>
            <h5><%= link_to "Les catégories de produits que vous pouvez trouver chez Chicken Market Place", categories_path, class: "nav-link" %></h5>
            <h5><%= link_to "Les races de poulets que vous pouvez trouver chez Chicken Market Plae", races_path, class: "nav-link" %></h5>
        </div>
    <% end %>

</div>