<div id="<%= dom_id farmer %>">
  <p>
    <strong>Name:</strong>
    <%= farmer.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= farmer.address %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= farmer.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= farmer.user_id %>
  </p>

</div>
