<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <i><%= product.name %></i>
    <% product.pictures.each do |picture| %>
      <%= image_tag(picture, style: "object-fit: contain; width:175px; height:175px;") %><strong> </strong>
    <% end %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Current price:</strong>
    <%= product.current_price %>
  </p>

  <p>
    <strong>Disponibility:</strong>
    <%= product.disponibility %>
  </p>

  <p>
    <strong>Evaluation:</strong>
    <%= product.evaluation %>
  </p>

  <p>
    <strong>Race:</strong>
    <%= product.race_id %><span>. </span>
    <%= product.race.name %>
  </span>

  <p>
    <strong>Category:</strong>
    <%= product.category_id %><span>. </span>
    <%= product.category.name %>
  </p>

</div>
